body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#app {
  flex: 1;
}

.admin-welcome-box {
  padding-bottom: 5em;
}

a.site-footer-social-media {
  color: #000;
}

.heart {
  color:red;
}

.admin-vote-link {
  margin-top: 13px;
}

.vote-title {
  text-align: center;
}

.welcome-message {
  padding: 13px 0;
}

.textarea {
  resize: none !important;
}

.vote-value-creator-card, .vote-people-developer-card, .vote-business-opeartor-card {
  margin-bottom: 2em;
}

.submit-vote-button {
  margin-right: 2em;
}

.vote-errors {
  list-style-type: square;
}

.alert {
  padding: .75rem 2.25rem !important;
}

.admin-cards-header {
  text-align: center;
}

div.welcome-message > p, .message-body {
  line-height: 2em;
  margin: 15px 0;
}

.nominees {
  cursor: pointer;
}

.soon {
  font-size: 10px !important;
  vertical-align: super;
}

div.control a:hover, span a, span a:hover, div.admin-settings-body a:hover {
  text-decoration: none !important;
}

.voting-status-text {
  font-weight: 400;
  margin-right: 5em;
  vertical-align: sub;
}

.admin-settings-body, .admin-cards-body {
  text-align: center !important;
}

td.admin-delete-user {
  text-align: center;
}

.admin-delete-icon {
  font-size: 1.5em;
  vertical-align: middle;
}

.default-card-vote
{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.vote-value-creator-card, .vote-people-developer-card, .vote-business-opeartor-card {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

ul.pagination {
  list-style: none !important;
}

td.admin-options {
  text-align: center;
  padding-top: 3em !important;
  padding-bottom: 3em !important;
}

.award-forward-add-cursor {
  cursor: pointer;
}
